*.*  action(type="omfwd" target="{{ glog_target }}" port="{{ glog_port }}" protocol="{{ glog_proto }}"
            action.resumeRetryCount="100"
            queue.type="linkedList" queue.size="10000")
